* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.board {
  width: 600px;
  height: 600px;
  background-color: blueviolet;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.board__item {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1233;
  height: 200px;
  width: 200px;
  position: relative;
  font-size: 18px;
}
.board__item:hover {
  cursor: pointer;
}

.board__line {
  position: absolute;
  width: calc(300px);
  border-bottom: 5px solid rgb(1, 68, 12);
  transform-origin: top;
}

.board__line--vertical {
  transform: rotate(90deg);
}
.board__line--horizontal {
  transform: rotate(0deg);
}
.board__line--diagonal {
  transform: rotate(45deg);
}
.board__line--diagonal.reverse {
  transform: rotate(-45deg);
}
